@charset "utf-8";
#footer_links : hover{
	color:rgba(10,255,0,1.00);
}
/*cover*/
/* Slideshow container */
.slideshow-container {
  width=100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 4.5s;
}

/*@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}*/

/*@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}*/

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*cover*/

#headerLinksOri {

	float: left;

	width: calc( 100% );

	text-align: right;

	padding-top: 10px;

	padding-bottom: 10px;
	background-image:url(../images/abstract_0100.jpg);
	margin-right:100px;
	


	/*background-color: rgba(255,255,255,1.00);*/

}

/* Links in header */

#headerLinksOri a {

	text-decoration: none;

	color: black;

	padding-left: 66px;

	font-size: 14px;
	margin-right:100px;
}

/*test navi*/

/*test navi*/
/* Global Styles */
/*Drop down*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
	height:auto;
	cursor:pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
	min-height:200px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgba(191,65,68,1.00)}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*Drop down end*/

a:hover {

	color: rgba(255,255,255,1.00);

}

/*header*/

header {

	font-family: 'Montserrat', sans-serif;

	color: rgba(146,146,146,1.00);

	font-size: 16px;

	font-style: normal;

	font-weight: 400;

}


/* Logo placeholder*/

#logoN {

	float: right;

	padding-top: 10px;

	padding-bottom: 10px;

	width:130px;

	text-align: center;

	color:white;

	background-color: black;
	
	}

#logo {

	float: left;

	padding-top: 10px;

	padding-bottom: 10px;

	width: 139px;

	text-align: center;

	color: rgba(255,255,255,1.00);

	background-color: rgba(190,190,190,1.00);
	
	background-image:url(../images/logo.jpg);
	}

/* div for Links in navigation */

#navi_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
	padding-left: 10%;

    /*width: calc( 100% - 139px );*/
}

#navi_li {
    float: left;
}

#navi_li a {
    display: block;
    /*color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navi_li a:hover:not(.activeNavi) {
    background-color: #111;
}

.activeNavi {
    background-color: #4CAF50;
}
	
#naviLinks {

	float: left;

	width: calc( 100% );

	text-align: right;

	padding-top: 10px;

	padding-bottom: 10px;

	background-color: rgba(255,255,255,1.00);
	
	}

#naviLinks a {

	text-decoration: none;

	color: rgba(146,146,146,1.00);

	padding-left: 66px;

	font-size: 14px;

}

/* div for Links in header */

#headerLinks {

	float: right;

	width: calc( 100% - 139px );

	text-align: right;

	padding-top: 10px;

	padding-bottom: 10px;

	background-color: rgba(255,255,255,1.00);
	
	}

/* Links in header */

#headerLinks a {

	text-decoration: none;

	color: rgba(146,146,146,1.00);

	padding-left: 66px;

	font-size: 14px;

}

/* Offer text banner*/

#offer {

	font-family: 'Montserrat', sans-serif;

	clear: both;

	background-color: rgba(246,246,246,1.00);
	
	color:white;

	/*color: rgba(146,146,146,1.00);*/

	padding-left: 115px;

	padding-top: 57px;

	padding-bottom: 57px;
	
	/*background-image:url(../images/logo.jpg);*/
	
	background-repeat:no-repeat;
	
	background-size:cover;
	}

/* Main content of the site */

#content {

	clear: both;

	overflow: auto;

	padding-top: 29px;
	/*background-image:url(../images/abstract_0100.jpg);*/
	background-color:white;
	}

/* Sidebar */

#content .sidebar {

	font-family: 'Montserrat', sans-serif;

	color: rgba(146,146,146,1.00);

	float: left;

	width: 20%;

	padding-left: 3%;

	padding-right: 3%;

	text-align: center;

	padding-top: 36px;

	height: 784px;

}

/* main content of the site */

#content .mainContent {

	float: left;

	width: 70%;

	text-align: center;

	padding-left: 4%;

}

/*menubar's properties for menus in sidebar */

#content .sidebar #menubar {

	text-align: left;

	color: rgba(146,146,146,1.00);

	position: relative;

	left: 0%;

}

/* Search field in sidebar */

#content .sidebar #search {

	width: 100%;

	border-radius: 0px;

	height: 42px;

	text-align: center;

	color: rgba(208,207,207,1.00);

	font-size: 14px;

	;

	margin-bottom: 21px;

}

/* Whole page content */

#mainWrapper {

	width: 90%;

	padding-left: 5%;
	padding-right: 5%;

}

/*menu elements */

.menu ul li {

	list-style-type: none;

	font-size: x-large;

	position: relative;

	left: -35px;

	padding-top: 12px;
	

}

/* Product rows for catalog */

#content .mainContent .productRow {

	overflow: auto;

	color: rgba(146,146,146,1.00);

}

/* Each product Information in the catalog */

.mainContent .productRow .productInfo {

	float: left;

	padding-left: 5%;

	padding-right: 5%;

	width: 22%;

}

/* Prices of a products in catalog */

.productRow .productInfo .price {

	font-family: 'Montserrat', sans-serif;

	color: rgba(146,146,146,1.00);

	font-size: 22px;

	position: relative;

	top: -20px;

}

/* Content holder for products in catalog*/

.productRow .productInfo .productContent {

	position: relative;

	top: -37px;

	font-size: 16px;

	font-family: Arial Black;

	font-style: normal;

	font-weight: 200;

	color: black;

	white-space: pre-wrap;

}

/* Buy button for products in catalog */
/*custom buy button*/

.buttonBUY {
    background-color: white; /* Green */
    color: black;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border: 2px solid #4CAF50;
	position: relative;
	top: -48px;
	/*width: 84%;*/
	height: 35px;
	margin-top: 8px;
}

.buttonBUY:hover {
    background-color: #4CAF50;
    color: white;
}

/*custom buy button*/
.productRow .productInfo .buyButton {

	position: relative;

	top: -48px;

	width: 84%;

	background-color: rgba(208,207,207,1.00);

	height: 35px;

	color: rgba(255,255,255,1.00);

	border-style: none;

	font-size: 14px;

	text-transform: uppercase;

	margin-top: 8px;

}

/* footer */

#mainWrapper footer {

	clear: both;

	overflow: auto;

	background-color: black;

	font-family: source-sans-pro, sans-serif;

	font-style: normal;

	font-weight: 200;

	line-height: 1.8;

	padding-top: 22px;

	padding-left: 22px;

	text-align: center;

	padding-bottom: 22px;

	padding-right: 22px;

}

/*Each footer content */

#mainWrapper footer div {

	width: 27%;

	float: left;

	padding-left: 4%;

	padding-right: 2%;

	color: rgba(255,255,255,1.00);

	text-align: justify;

}

/* Links in footer */

footer div a {

	color: rgba(26,255,0,1.00);

	display: block;

	text-decoration: none;

	text-align: center;

}

/* Product's images in catalog */

.productInfo div img {

	width: 100%;

}

/*Links in sidebar */

.sidebar #menubar .menu ul li a {

	color: black;

	text-decoration: none;

}

.sidebar #menubar .menu ul li a:hover {

	color: green;

	text-decoration: none;
	border:1px solid black;
	padding:10px;

}

/* Menu headings in sidebar */

#menubar .menu h2 {

	font-size: 20px;
	color:rgba(37,127,23,1.00);


}

/*Links under menus in sidebar */

#menubar .menu ul li a {

	font-size: 14px;

}

/* Menus in sidebar */

.sidebar #menubar .menu {

	margin-bottom: 29px;

}

/* Container for links in footer */

footer .footerlinks {

	margin-top: -15px;

}





/* Media query for tablets */

@media screen and (max-width:700px) {
	
header #headerLinksOri a {

	padding-left: 0px;

	padding-right: 30px;

}

/* search field in sidebar */

#content .sidebar #search {

	display: none;

}

/* sidebar */

#content .sidebar {

	float: none;

	width: 100%;

	height: auto;

	overflow: auto;

	padding-left: 12%;

	padding-top: 0px;
	
	position:center;

}

/* horizontal separators in sidebar */

#content .sidebar hr {

	display: none;

}

/*The sidebar and maincontent of page */

#content {

	position: relative;

	top: -22px;

	width: 100%;

	overflow: hidden;

}

/*menu headings in sidebar */

#menubar .menu h2 {

	display: inline;

	font-size: medium;

	padding-right: 6%;

}

/* Unordered List of links */

#menubar .menu ul {

	display: inline;

}

/*list elements */

#menubar .menu ul li {

	display: inline;

	font-size: medium;

	padding-left: 0%;

	padding-right: 3%;

}

/*The link to be hidden in tablet view */

.sidebar #menubar .menu ul .notimp {

	display: none;

}

/* menus in sidebar */

.sidebar #menubar .menu {

	width: 100%;

	text-align: center;

	position: relative;

	top: 16px;

}

/*menubar in sidebar */

#content .sidebar #menubar {

	position: relative;

	left: -7%;

	overflow: hidden;

	width: 95%;

	padding-top: 0px;

}

/* offer banners content */

#mainWrapper #offer p {

	font-size: small;

}

/* main content region of page */

#mainWrapper #content .mainContent {

	overflow: hidden;

	width: 95%;

	margin-top: 40px;

}

/* Prices of products in catalog view */

.productRow .productInfo .price {

	font-size: 19px;

}

/* Content holders in catalog view */

.productRow .productInfo .productContent {

	font-size: 16px;

}

/* Buy buttons in catalog view */

.productRow .productInfo .buyButton {

	font-size: 15px;

}

/* Container for links in footer */

#mainWrapper footer .footerlinks {

	float: none;

	width: 100%;

	position: relative;

	top: 17px;

	clear: both;

	text-align: center;

	left: 0%;

	padding-bottom: 19px;

}

/* Container for each footer divisions */

#mainWrapper footer div {

	width: 44%;

	text-align: justify;

	font-size: 15px;

}

/* Links in footer */

.footerlinks p a {

	padding-top: 0px;

	padding-bottom: 0px;

	display: inline;

	padding-right: 35px;

	color: rgba(31,236,0,1.00);
}

/* Footer region */

#mainWrapper footer {

	padding-left: 16px;

	overflow: hidden;

}

/* Links in header */

header #headerLinks a {

	padding-left: 0px;

	padding-right: 30px;

}

/* Offer- Text banner */

#mainWrapper #offer {

	padding-left: 22%;

}

/* Paragraphs in footer */

footer .footerlinks p {

	display: inline;
	color:white;

}

}



/*media query for small screen devices */

@media screen and (max-width:480px) {

#mainWrapper header #headerLinksOri {

	width: 100%;

	text-align: center;

	background-color: rgba(190,190,190,1.00);

	padding-bottom: 21px;

}

header #headerLinksOri a {

	text-align: center;

	padding-right: 15px;

	padding-left: 0px;

}

/*Container for links in header */

#mainWrapper header #headerLinks {

	width: 100%;

	text-align: center;
	

	background-color: rgba(190,190,190,1.00);

	padding-bottom: 21px;

}

/* Logo placeholder*/

#mainWrapper header #logoN {

	width: 100%;

	text-align: center;

}

#mainWrapper header #logo {

	width: 100%;

	text-align: center;

}

/* Links in header */

header #headerLinks a {

	text-align: center;

	padding-right: 15px;

	padding-left: 0px;

}

/*Offer - Text Banner */

#mainWrapper #offer {

	padding-left: 0px;

	text-align: center;

}

/* Menubar in sidebar */

#content .sidebar #menubar {

	position: relative;

	left: -8%;

	text-align: center;

}

/*Menu headings in sidebar */

#menubar .menu h2 {

	width: 100%;

	display: block;

}

/* Each product in catalog view */

.mainContent .productRow .productInfo {

	width: 100%;

	display: block;

	padding-left: 0px;

	padding-right: 0px;

	position: relative;

	left: -2%;

}

#mainWrapper footer div {

	width: 100%;

	margin-left: -16px;

	text-align: justify;

	padding-bottom: 16px;

	overflow: auto;
	

}

/* Unordered list for menu elements */

.menu ul {

	position: relative;

	padding-left: 24%;

}

/* Container for links in footer */

#mainWrapper footer .footerlinks {

	padding-left: 8%;

}





/* Main content which excludes the sidebar */

#mainwrapper #content .mainContent {

	margin-top: -81px;

	text-align: center;

	width: 100%;

	padding-left: 0px;

}



}

